<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title> SpClima - @ViewData["Title"]</title>
     <!-- Favicons -->
  <link href="~/img/Favicons/favicon.ico" rel="icon">
  <link href="~/img/Favicons/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-…" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="sb-nav-fixed">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="#">SpClima</a>
    </nav>

    <div id="layoutSidenav">
        <!-- Sidebar Lateral -->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav sb-sidenav-dark">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" asp-controller="Admin" asp-action="Index">
                            <i class="bi bi-house-door-fill sb-nav-link-icon"></i>
                            Dashboard
                        </a>
                        <a class="nav-link" asp-controller="Items" asp-action="Index">
                            <i class="bi bi-box-seam sb-nav-link-icon"></i>
                            Gerenciar Itens
                        </a>
                        <a class="nav-link" asp-controller="Pedidos" asp-action="Index">
                            <i class="bi bi-currency-dollar sb-nav-link-icon"></i>
                            Ver Orçamentos
                        </a>
                        <a class="nav-link" asp-controller="ItemCategorias" asp-action="Index">
                            <i class="bi bi-tags sb-nav-link-icon"></i>
                            Gerenciar Categorias
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Conteúdo Principal -->
        <div id="layoutSidenav_content">
            <main class="container-fluid px-4 mt-4">
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex justify-content-between small">
                        <div class="text-muted">Copyright © SpClima 2025</div>
                        <div>
                            <a href="#">Privacy Policy</a> ·
                            <a href="#">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>


</html>
